{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="row g-5">
    <div class="col-md-6">
        <p>Inscrivez-vous maintenant</p>
        <p><a class="btn btn-primary" href="{% url 'signup' %}" role="button">S'inscrire</a></p>
    </div>
    <div class="col-md-6">
        <p>Connectez vous</p>
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Se connecter</button>
        </form>
    </div>
</section>
{% endblock content %}
