*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin-left: 20%;
    margin-right: 20%;
}

.navbar {
    font-size: 20px;
}

br {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
  text-align: center;
} 

main {
    background-color: white;
    padding: 20px ;
}

/* .row .g5{ margin-top: 100px;} */

main{
    
    width: 80%; 
   
}

.form-container{
    display: flex;
    justify-content: center;
}

.downTicket {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px;
    text-align: center;
    width: 70%;
   
}

.downTicket .img-thumbnail {
    width: 120px;
    height: 140px;
    margin: 20px;
}

/* .container {
    margin-top: 10px;
} */

.review h3 {
    color: brown;
}

.bg-image {
    background-color: cadetblue;
}

.badge { 
    max-width: 400px;
    font-size: 1em;}

.material-symbols-outlined .rated {
    background-color: #f8d053;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 24px;
    padding: 0 2px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
    color: #ffc107;
}

.fa-star {
    color: gold;  /* Rend les étoiles jaunes */
}

button {
    margin: 10px;
}