{% extends 'base.html' %}

{% block content %}
    <h2>Posts</h2>
      
    <hr>
    <section class="container">
    
    {% for ticket in tickets %}
        {% if user == ticket.user %}
    
        <div class="row">
            <div class="col-md-6"> 
                <p>{{ ticket.user }} a demandé une critique</p>
                <h3>{{ ticket.title }}</h3>
                <p>{{ ticket.description }}</p>
                <p>{{ ticket.time_created }}</p>
            </div>
            <div class="col-md-6">
                <img src="{{ ticket.image.image.url }}" class="img-thumbnail" width="200" height="200" alt="Image for {{ ticket.title }}">
            </div>
        <div class="row">
            <div class="col-md-12">
            <a class="btn btn-primary"  href="{% url 'edit_ticket' ticket.id %}">
                Modifier
            </a>
            <a class="btn btn-danger" type="dropdown-item" href="{% url 'edit_ticket' ticket.id %}">
                supprimer
            </a>
        </div>
            <hr>
        </div>
        {% endif %}
    {% endfor %}
    
</section>
   

{% endblock content %}